*{
    font-family: Arial, Helvetica, sans-serif;
}
code{
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 600;
    color: rgb(98, 126, 180);
}
h1, h2{
    text-align: center;
}

h3, a{
    color:rgb(48, 67, 100);
    text-decoration: none;
}
h4{
    color: rgb(130, 183, 206);
    text-decoration: underline;
}
main{    
    padding: 0 10px;
}
a:hover{
    color: cornflowerblue;
}
nav ul, aside ul{
    list-style-type: none;
    font-weight: 600;

}
.content_resultado{
    background-color: rgba(230, 228, 228, 0.41);
    padding: 20px;
    font-size: small;
}
aside a{
    color: indianred;
    text-decoration: none;
}
footer{
    background-color: rgb(212, 229, 229);
    color: rgb(45, 74, 99);
    padding:5px;
    font-size: small;
    text-align: center;
    line-height: 3px;
}


/*Ejercicio 2*/
caption{
    color: #2c5e77;
    font-size: 20px;
    font-weight: 600;
}
td, th{
    width: 150px;
}
thead {
    border-bottom: 2px solid rgb(160 160 160);
    background-color: #2c5e77;
    color: #fff;
}
tbody {
    background-color: #e4f0f5;
    text-align: center;
}
tfoot {
    border-top: 1px dotted rgb(160 160 160);
    background-color: #2c5e77;
    text-align: center;
    color: #fff;
}

/*Ejercicio 3*/
.form_datos label{
    max-width: 120px;
}
input{
    margin-top: 5px;
}
.form_datos input{
    width: 150px;
    border-radius: 5px;
}
input[type="submit"]{
    background-color: rgba(46, 51, 59, 0.736);
    color: aliceblue;
    padding: 2px 30px;
    border-radius: 2px;
    border: 0;
}

/*Ejercicio 2*/
dd{
    font-family: Georgia, Times, 'Times New Roman', serif;
}
dd a{
    color:indianred;
}
dd code{
    background-color:rgba(209, 205, 205, 0.327);
    color:rgb(17, 179, 182);
    font-size: small;
}
dt{
    color: indianred;
    text-decoration: underline;
}

